* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.tittle {
  color: #ffff;
  font-size: 18px;
  width: 99px;
  height: 25px;
  margin: 38px 0 0 120px;
}

.top {
  background-color: #f03c42;
  height: 100px;
  width: 1200px;
  color: #ffff;
  display: flex;
}

.insta {
  width: 30px;
  height: 30px;
}

.name {
  width: 85px;
  height: 19px;
  margin-left: 5px;
}

.instagram {
  width: 125px;
  height: 30px;
  margin: 35px 0 0 699px;
  display: flex;
  align-items: center;
}

.hello {
  color: #ffffff;
  display: inline;
  font-size: 25px;
  margin: 20px 0 40px 110px;
}

.introduction {
  width: 1200px;
  height: 470px;
  display: flex;
  flex-direction: column;
  background-color: #222374;
}

.presentation1 {
  width: 920px;
  height: 150px;
  border-radius: 8px;
  background-color: #cccccc;
  margin-left: 110px;
}

.presentation2 {
  width: 920px;
  height: 150px;
  border-radius: 8px;
  background-color: #cccccc;
  margin-left: 110px;
  margin-top: 20px;
}

.fitness {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.space {
  padding-bottom: 20px;
}

.principal {
  margin-top: 15px;
  margin-left: 110px;
  margin-bottom: 30px;
  color: #f03c42;
  font-weight: bold;
  font-size: 18px;
}

.activities {
  display: flex;
  flex-direction: column;
}

.work {
  border: 2px solid #222374;
  background-color: #222374;
  color: #ffffff;
  width: 920px;
  height: 90px;
  border-radius: 8px;
  margin-left: 110px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-top: 20px;
}

.sub {
  color: #cccccc;
  padding-top: 20px;
}

footer {
  background-color: black;
  height: 220px;
  width: 1200px;
}

.instagramf {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.instaf {
  width: 30px;
  height: 30px;
}

.namef {
  text-decoration: none;
  color: #ffffff;
  width: 85px;
  height: 19px;
  margin-left: 5px;
}

.twitterf {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-right: 8px;
}

.xf {
  width: 30px;
  height: 30px;
}

.namexf {
  text-decoration: none;
  color: #ffffff;
  width: 85px;
  height: 19px;
  margin-left: 5px;
}

.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 20px;
}

.contander {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
